<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yazilim_yapimi.Properties.Settings.WordBoxConnectionString"
            connectionString="Data Source=DESKTOP-LA9NV4H;Initial Catalog=WordBox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="yazilim_yapimi.Properties.Settings.WordBoxConnectionString1"
            connectionString="Data Source=P-X;Initial Catalog=WordBox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>